@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}

.suggestions {
    min-height: 500px;
    margin-top: 30px;
    margin-left: -350px;
    margin-right: 100px;
}

.form-control,
.form-select {
    padding: 10px;
    border-radius: 10px;
}

.form-label {
    font-weight: 600;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
}